h1.App {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
}

div.App {
  position: absolute;
  background-color: #CCFFFF;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 550px;

  text-align: center;
}

div.Header {
  background-color: #FF7700;
  height: 60px;
  width: 100%;
}

div.TotalProfit {
  background-color: #FFFBC2;
  height: 32px;
  width: 100%;

}

div.Transaction {
  background-color: #DDDDDD;
  height: 94px;
  width: 544px;
  margin-top: 10px;

  margin-left: auto;
  margin-right: auto;
}

button#AddTransaction {
  height: 96px;
  width: 97%;
  font-size: 70px;
  margin-top: 10px;
}
