h1.App {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
}

div.App {
  position: absolute;
  background-color: #CCFFFF;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 550px;

  text-align: center;
}

div.Header {
  background-color: #FF7700;
  height: 60px;
  width: 100%;
}

div.TotalProfit {
  font-size: 24px;
  font-weight: bold;
  background-color: #FFFBC2;
  height: 32px;
  width: 100%;
}

.PositiveProfit {
  color: green;
}

.NegativeProfit {
  color: red;
}

div.Transaction {
  background-color: #DDDDDD;
  height: 94px;
  width: 544px;
  margin-top: 10px;

  margin-left: auto;
  margin-right: auto;
}

button#AddTransaction {
  height: 96px;
  width: 97%;
  font-size: 70px;
  margin-top: 15px;
}

button#DeleteTransaction {
  height: 24px;
  width: 24px;
  font-size: 12px;
}

.EntryArea {
  height: 100%;
  float: left;
}

.Prompt {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

table {
  text-align: center;
  border: 1px solid black;
  float: right;
}

td {
  border: 1px solid black;
}

.TableLabels {
  background-color: "#CCCCCC";
  font-weight: bold;
}
