h1.App {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.Header>h1 {
  margin: 0;
  font-size: 28px;
}

@media screen and (min-width: 545px) {
  div.App {
    width: 545px;
  }
  div.TransactionArea {
    width: inherit;
    grid-template-columns: 1fr 1fr;
  }
  div.Transaction {
  }
}

@media screen and (min-width: 820px) {
  div.App {
    width: 820px;
  }
  div.TransactionArea {
    width: inherit;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.Transaction {
  }
}

@media screen and (max-width: 545px) {
  div.App {
    width: 100%;
  }
  div.TransactionArea {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  div.Transaction {
    margin-left: auto;
    margin-right: auto;
  }
}

div.App {
  text-align: center;
  grid-gap: 2px;
  padding: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.PageTop {
  z-index: 100;
  position: fixed;
  grid-area: header;
  width: inherit;
}

div.Header {
  background-color: #FF7700;
}

div.TotalProfit {
  font-size: 24px;
  font-weight: bold;
  background-color: #FFFBC2;
}

div.TransactionArea {
  padding-top: 61px;
  display: grid;
  grid-gap: 10px;
}

div.Transaction {
  display: grid;
  grid-template-rows: 1fr auto;
  align-self: center;
  background-color: #BBBBAA;
  background-color: #cccccc;
  height: 180px;

}

div.ProfitData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
}

.ProfitData div {
  border: 1px solid black;
}

div.TransactionGrid {
  display: grid;
  grid-gap: 5px;
  grid-template:
  "d_button v_entry"
  "d_button d_entry";
}
.VolumeEntry {
  grid-area: v_entry;
}
.DateEntry {
  grid-area: d_entry;
}
.Prompt {
  margin: 5px auto;
}

button#DeleteTransaction {
  font-size: 12px;
  height: 100%;
}

.DeleteButton {
  margin: 5px;
  grid-area: d_button;
  height: 1fr%;
}

button#AddTransaction {
  height: 180px;
  width: 270px;
  font-size: 70px;
  justify-self: center;
}

.Prompt {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: inherit;
}

.TableLabels {
  font-weight: bold;

}
.TableValues {

}
.PurchaseValueLabel {
  grid-area: puv_label;
}
.PresentValueLabel {
  grid-area: prv_label;
}
.ProfitLabel {
  grid-area: pf_label;
}
.PurchaesValue {
.PurchaseValue {
  grid-area: puv;
}
.PresentValue {
  grid-area: prv;
}
.Profit {
  grid-area: pf;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
